<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>944447749310-smsgnuq5e4ud69e9n815dbheoeh49k3v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.944447749310-smsgnuq5e4ud69e9n815dbheoeh49k3v</string>
	<key>API_KEY</key>
	<string>AIzaSyCJcHyv0MbT2Gtxsk6x1Jyl8FX6LI80EMo</string>
	<key>GCM_SENDER_ID</key>
	<string>944447749310</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.FirebaseApp</string>
	<key>PROJECT_ID</key>
	<string>fir-login-65e33</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-login-65e33.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:944447749310:ios:5b0a21cc555febab8df2ef</string>
</dict>
</plist>